* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Buda", serif;
}


/* nav */
.navbar nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}

.navbar nav ul li {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.navbar nav ul li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #F7CB84;
  margin-left: 1rem;
}

/* nav */

.header {
  background-color: #1C0824;
}

h2 {
  background-color: #F7CB84;
  color: #2b063a;
  font-family: "Buda", serif;
  padding: 1rem;
}

div h3 {
  background-color: #2b063a;
  font-size: 14px;
  padding: 0.3rem;
  color: #F7CB84;
}

ul {
  font-size: 12px;
  font-family: "Buda", serif;
  flex-direction: row;
  display: flex;
  color: #F7CB84;
  background-color: #2b063a;

}

li {
  color: #F7CB84;
  display: flex;
  background-color: #2b063a;
}


article{
  background-color: red;
}